.fixedPage {
  position: fixed;
  display: flex;
  background-image: linear-gradient(271deg, #00000029, transparent);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.children {
  height: 65vh;
  width: 100%;
}
.slidingBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100vw;
  transition: transform 2s, opacity 0.5s;
  background-color: var(--lightThemeColor);
  background-image: url("../../assets/img/space_dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}
.logo {
  font-size: 36px;
  letter-spacing: var(--letter-spacing-large);
  z-index: 1000;
  transition: color 2s;
}

.threeD {
  font-family: "Ewert";
}
