.scene {
  height: var(--slide-containers);
  width: var(--slide-containers);
  perspective: 2000px;
}
.flipCard {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.flipcardFront,
.flipcardBack {
  /* transform-style: preserve-3d; */
  position: absolute;
  transition: transform 1s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  z-index: 1000;
  border-radius: 5px;
}
.zeroX {
  transform: rotateX(0deg);
}
.frontRotateX {
  transform: rotateX(-180deg);
}
.backRotateX {
  transform: rotateX(180deg);
}
.zeroY {
  transform: rotateY(0deg);
}
.frontRotateY {
  transform: rotateY(-180deg);
}
.backRotateY {
  transform: rotateY(180deg);
}
