.slideImgContainer {
  height: 100%;
  width: 100%;
}

.flipCardImg {
  border-radius: 5px;
  border: var(--neon-border);
}

.slideImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.slideImgArrowLeft,
.slideImgArrowRight {
  position: absolute;
  bottom: 1em;
}

.slideImgArrowLeft {
  left: 1em;
}

.slideImgArrowRight {
  right: 1em;
}

.boxShadow {
  box-shadow: var(--neon-box-shadow);
}

.projects {
  position: absolute;
  transition: 1s;
  /* border-radius: 5px;
    border: var(--neon-border); */
  z-index: 2;
}
