.container {
  letter-spacing: var(--letter-spacing-large);
  text-transform: uppercase;
  width: 18em;
  text-align: center;
}

.title {
  animation: fade ease;
}

@keyframes fade {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
