.popup {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
  align-items: center;
  right: 0px;
  top: -4em;
  width: 18em;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--borderRadius);
  padding: 5px;
  animation: fadeIn 0.5s ease-in forwards;
}
.arrowLight::before {
  content: "";
  position: absolute;
  right: 5px;
  bottom: -5px;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: var(--darkThemeColor);
  border-bottom: 1px solid var(--lightThemeColor);
  border-right: 1px solid var(--lightThemeColor);
  transition-delay: 1.3s;
}

.arrowDark::before {
  content: "";
  position: absolute;
  right: 5px;
  bottom: -5px;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: var(--lightThemeColor);
  border-bottom: 1px solid var(--darkThemeColor);
  border-right: 1px solid var(--darkThemeColor);
  transition-delay: 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
