:root {
  /*Colors */
  --lightThemeColor: black;
  --darkThemeColor: white;
  --unselectedDarkThemeColor: rgb(160, 160, 160);
  --highlightColor: purple;
  --secondaryHighlightColor: #290029;
  --neon-color-shadow: rgb(32, 32, 32);
  --lightThemeBackground: linear-gradient(271deg, #00000029, transparent);

  /*Box Model */
  --neon-border: 0.2rem solid #fff;
  --borderRadius: 5px;
  --padding: 0.25em 0.5em;
  --neon-box-shadow: 0 0 0.2rem #fff, 0 0 0.4rem #fff,
    0 0 2rem var(--neon-color-shadow), 0 0 1.8rem var(--neon-color-shadow),
    0 0 3.8rem var(--neon-color-shadow),
    inset 0 0 1.3rem var(--neon-color-shadow);
  --highlight-neon-box-shadow: 0 0 0.2rem var(--secondaryHighlightColor),
    0 0 3rem #8000808f, inset 0 0 1.3rem var(--neon-color-shadow);

  /*text*/
  --neon-text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0),
    0 0 5px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
  --neon-text-shadow-highlight: 0 0 4px rgb(255, 255, 255), 0 0 8px #fff,
    0 0 11px #fff, 0 0 19px var(--neon-color-shadow),
    0 0 40px var(--neon-color-shadow);
  --letter-spacing-large: 5px;
  --letter-spacing-small: 3px;

  /*sizing*/
  --slide-containers: 45vh;
  --slide-containers-gap: 4em;

  /*misc*/
  --pointer-cursor: pointer;

  /*fonts*/
  --title-font: "Questrial";

  /*display*/
  --navDisplay: none;
  --footerDisplay: flex;

  /*breakpoint*/
  --small-screen: 620px;
}

@media only screen and (max-width: 620px) {
  :root {
    --slide-containers: 35vh;
    --slide-containers-gap: 2em;
    --navDisplay: block;
    --footerDisplay: none;
  }
}
