.projects {
  position: absolute;
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  border: var(--neon-border);
}

.projects:nth-child(1) {
  box-shadow: var(--neon-box-shadow);
}

.projects > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slidingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.projects,
.projectContainer,
.flipCard {
  width: var(--slide-containers);
  height: var(--slide-containers);
}

.flipCard {
  transition: 1s;
}

.projectContainer {
  transition: 2s;
}

.flipCardcontent {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.flipCardContentContainer {
  --neon-color: rgb(73, 73, 73);
  border: var(--neon-border);
  box-shadow: var(--neon-box-shadow);
  color: white;
  text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 8px #fff, 0 0 11px #fff,
    0 0 19px var(--neon-color), 0 0 40px var(--neon-color);
  letter-spacing: var(--letter-spacing-large);
  text-transform: uppercase;
  background-color: black;
}
