.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  gap: var(--slide-containers-gap);
}

.menuContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0;
}

.menuContent h1 {
  text-align: center;
  letter-spacing: var(--letter-spacing-small);
}
.menuContent ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
}
.menuContent li {
  list-style-type: none;
  border: var(--neon-border);
  border-width: 0.1rem;
  text-shadow: var(--neon-text-shadow);
  border-radius: var(--borderRadius);
  padding: var(--padding);
  cursor: pointer;
}
.menuContent li:hover,
.menuContent li:active {
  text-shadow: var(--neon-text-shadow-highlight);
  box-shadow: var(--neon-box-shadow);
}

.flipCardContentContainer {
  border: var(--neon-border);
  box-shadow: var(--neon-box-shadow);
  color: white;
  text-shadow: var(--neon-text-shadow);
  letter-spacing: var(--letter-spacing-large);
  text-transform: uppercase;
  background-color: black;
}
.projects {
  position: absolute;
  transition: transform 0.25s;
}

.projects:hover {
  transform: scale(1.1);
}

.flipCardImg {
  border-radius: 5px;
  border: var(--neon-border);
}

.boxShadow {
  box-shadow: var(--neon-box-shadow);
}

.profileComponent {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profileOffset {
  transform: translateX(25vh);
}

.slideImgContainer {
  height: 100%;
  width: 100%;
}

.slideImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.slideIn {
  position: relative;
  transition: 2s transform;
  z-index: 2;
}

.slideImgArrowLeft,
.slideImgArrowRight {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
}
.slideImgArrowLeft:hover,
.slideImgArrowRight:hover {
  transform: scale(1.1);
}

.slideImgArrowLeft {
  left: 1em;
}

.slideImgArrowRight {
  right: 1em;
}

.arrowDark {
  color: var(--lightThemeColor);
}

.arrowLight {
  color: var(--darkThemeColor);
}
.flipCard,
.projectContainer {
  width: var(--slide-containers);
  height: var(--slide-containers);
}

.projectContainer img {
  filter: grayscale(0.8);
}

.projectContainer:hover img {
  filter: grayscale(0);
}

.flipCard {
  transition: 1s;
}

.projectContainer {
  transition: 2s;
}

@media only screen and (max-width: 620px) {
  .container {
    flex-flow: column nowrap;
  }

  .profileOffset {
    transform: translate(0px, 90px);
  }

  .menuContent {
    padding: 1em;
  }
  .menuContent li {
    font-size: 0.75em;
  }
}
