.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  gap: 4rem;
}

.menuContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0;
}
.menuContent ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
}
.menuContent li {
  list-style-type: none;
  border: var(--neon-border);
  border-width: 0.1rem;
  text-shadow: var(--neon-text-shadow);
  border-radius: var(--borderRadius);
  padding: var(--padding);
}
.menuContent li:hover,
.menuContent li:active {
  text-shadow: var(--neon-text-shadow-highlight);
  box-shadow: var(--neon-box-shadow);
}

.flipCardContentContainer {
  border: var(--neon-border);
  box-shadow: var(--neon-box-shadow);
  color: white;
  text-shadow: var(--neon-text-shadow);
  letter-spacing: var(--letter-spacing-large);
  text-transform: uppercase;
  background-color: black;
}

.projects {
  position: absolute;
  transition: 1s;
  /* border-radius: 5px;
  border: var(--neon-border); */
  z-index: 2;
}

.flipCardImg {
  border-radius: 5px;
  border: var(--neon-border);
}

.boxShadow {
  box-shadow: var(--neon-box-shadow);
}

.profileComponent {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.slideImgContainer {
  height: 100%;
  width: 100%;
}

.slideImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.slideIn {
  position: relative;
  transition: 2s transform;
  z-index: 2;
}

.slideImgArrowLeft,
.slideImgArrowRight {
  position: absolute;
  bottom: 1em;
}

.slideImgArrowLeft {
  left: 1em;
}

.slideImgArrowRight {
  right: 1em;
}

.projects,
.projectContainer,
.flipCard {
  width: var(--slide-containers);
  height: var(--slide-containers);
}

.projectContainer:hover {
  transform: scale(1.2);
  transition: 0.25s;
}
.projectContainer img {
  filter: grayscale(0.8);
}

.projectContainer:hover img {
  filter: grayscale(0);
}

.flipCard {
  transition: 1s;
}

.projectContainer {
  transition: 2s;
}
