.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  gap: 4rem;
}

.menuContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0;
}
.menuContent ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
}
.menuContent li {
  list-style-type: none;
  border: var(--neon-border);
  border-width: 0.1rem;
  text-shadow: var(--neon-text-shadow);
  border-radius: var(--borderRadius);
  padding: var(--padding);
}
.menuContent li:hover,
.menuContent li:active {
  text-shadow: var(--neon-text-shadow-highlight);
  box-shadow: var(--neon-box-shadow);
}

.flipCardContentContainer {
  border: var(--neon-border);
  box-shadow: var(--neon-box-shadow);
  color: white;
  text-shadow: var(--neon-text-shadow);
  letter-spacing: var(--letter-spacing-large);
  text-transform: uppercase;
  background-color: black;
}

.projects {
  position: absolute;
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  border: var(--neon-border);
}

.projects:nth-child(1) {
  box-shadow: var(--neon-box-shadow);
}

.projects > img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.projects,
.projectContainer,
.flipCard {
  width: var(--slide-containers);
  height: var(--slide-containers);
}

.flipCard {
  transition: 1s;
}

.projectContainer {
  transition: 2s;
}
