.container {
  position: relative;
  --square: 2rem;
  width: var(--square);
  height: var(--square);
}

.isOpen,
.isClosed {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: 0.25s;
}

.isOpen:nth-child(1) {
  transform: rotate(45deg);
}
.isOpen:nth-child(2) {
  transform: rotate(-45deg);
}
