.container {
  position: relative;
  --square: 1.5rem;
  width: var(--square);
  height: var(--square);
  cursor: pointer;
}

.container:hover,
.container:active {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px white);
}

.isOpen,
.isClosed {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--darkThemeColor);
  transition: 0.25s;
}

.isOpen:nth-child(1) {
  transform: rotate(45deg);
}
.isOpen:nth-child(2) {
  transform: rotate(-45deg);
}
