body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Alegreya";
  src: local("Alegreya"),
    url("./assets/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Questrial";
  src: local("Questrial"),
    url("./assets/fonts/Questrial/Questrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ewert";
  src: local("Ewert"),
    url("./assets/fonts/ewert/Ewert-Regular.ttf") format("truetype");
}
