:root {
  --header-height: 50px;
}

.container {
  position: relative;
  width: 100%;
}
.header {
  position: relative;
  display: var(--navDisplay);
  height: var(--header-height);
  width: 100%;
  z-index: 2;
}

.logo {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0.3em;
}

.dark {
  background-color: var(--lightThemeColor);
}
.light {
  background-color: var(--darkThemeColor);
}

.dark .line {
  background-color: white;
  z-index: 1000;
}

.hamburgerMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 2em;
  height: 2em;
  padding: 0.5em;
}

.open div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.open div:nth-child(2) {
  transform: scale(0);
}
.open div:nth-child(3) {
  transform: rotate(135deg) translate(-7px, 7px);
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--lightThemeColor);
  transition: 0.25s transform;
}

.menu {
  position: absolute;
  top: var(--header-height);
  left: 0px;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.nav {
  text-align: center;
}
.nav h3 {
  margin: 3em;
  font-size: 1.5em;
}
.social {
  margin-bottom: 2em;
}
