.container {
  display: flex;
  height: 1rem;
}

.cursor {
  height: 100%;
  background-color: black;
  width: 3px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: black;
  }
  49% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
