.container {
  display: flex;
  height: 1rem;
}

.text {
  color: black;
  font-size: 1.2em;
  font-family: var(--title-font);
}

.cursor {
  height: 100%;
  background-color: black;
  width: 3px;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: black;
  }
  49% {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
