.container,
.text {
  position: relative;
}
.container {
  height: 100%;
}

.dark span:nth-child(1) {
  color: var(--darkThemeColor);
}
.dark span:nth-child(2) {
  background-color: var(--darkThemeColor);
}
.light span:nth-child(1) {
  color: var(--lightThemeColor);
}
.light span:nth-child(2) {
  background-color: var(--lightThemeColor);
}

.text {
  color: black;
  font-size: 1.2em;
  font-family: var(--title-font);
}

.cursor {
  position: absolute;
  height: 1.2em;
  background-color: black;
  width: 3px;
}

.blink {
  animation: blink 0.75s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
